 </div>
 {{#each blogs}}
 <div class="column is-10 is-offset-1">
  <div class="box">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{blog_title}}</strong><small>@{{user.username}}</small>
        <br>
        {{desc}}
        <br>
        <small>{{format_date date_created}}</small>
        <br>
        <nav>
        <a href="/comment"><button class="button" id="commentBtn" type="submit">Comment</button></a>
        </nav>
      </p>
    </div>
  </div>
</div>
</div>
    {{/each}}

  {{!-- {{#if comments}} --}}
  {{!-- <div>
{{#each comments}}
    <div class="column is-10 is-offset-1">
      <div class="box">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{username}}user name goes here</strong>
            <br>
            {{comment_desc}}user comment goes here
            <br>
            {{!-- <small>{{format_date date_created}}</small> --}}
            {{!-- </p>
          </div>
         </div>
        </div>s
    {{/each}}
    </div>  --}}
    {{!-- {{/if}} --}}
      
       
    
 
<script src="/js/comment.js"></script>
